<template>

	<div class="board">

		<div class="levels">
			<span @click="selectLevel(1)" class="level" :class="{'level-selected' : actualLevel.level === 1}">Facile</span>
			<span @click="selectLevel(2)" class="level" :class="{'level-selected' : actualLevel.level === 2}">Moyen</span>
			<span @click="selectLevel(3)" class="level" :class="{'level-selected' : actualLevel.level === 3}">Difficile</span>
		</div>

		<div class="panel">
			<div class="marker remaining-mines">
				{{ remainingBombsFormatted }}
			</div>
			<div @click="initLevel" class="smiley-face">
				{{ smileyFace }}
			</div>
			<div class="marker timer">
				{{ secondsFormatted }}
			</div>
		</div>

		<div class="grid">
			<Cell @onFlagBomb="flagBomb" @onDiscover="discoverCell" :info="item" v-for="(item, index) in cells" :key="index" :style="'grid-row: ' + item.row + '; ' + 'grid-column: ' + item.column + ';'" />
		</div>

	</div>

</template>

<script>

	import Cell from "./Cell";

  export default {
    name: "Game",
		components: {
      Cell
		},
		data() {
      return {
        cells: [],
				levelEasy: {
          level: 1,
					rows: 9,
					columns: 9,
					bombs: 10
				},
        levelIntermediate: {
          level: 2,
          rows: 16,
          columns: 16,
          bombs: 40
        },
        levelHard: {
          level: 3,
          rows: 16,
          columns: 30,
          bombs: 99
        },
				actualLevel: null,
				bombs: [],
				remainingBombs: 0,
				colors: ['', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'],
				seconds: 0,
				initGame: false,
				timer: null,
				inGame: false,
				remainingCells: 0,
				smileyFace: "🙂"
			}
		},
		created() {
      this.actualLevel = this.levelEasy;
			this.initLevel()
		},
		computed: {
      secondsFormatted() {
        let seconds = this.seconds.toString();
				if (seconds.length === 1) {
				  seconds = '00' + seconds
				} else if (seconds.length === 2) {
				  seconds = '0' + seconds
				}
				return seconds
			},
			remainingBombsFormatted() {
        let bombs = this.remainingBombs.toString();
        if (bombs.length === 1) {
          bombs = '00' + bombs
        } else if (bombs.length === 2) {
          bombs = '0' + bombs
        }
        return bombs
			}
		},
		methods: {
      /*eslint no-mixed-spaces-and-tabs: ["error", "smart-tabs"]*/

      initLevel() {

        this.cells = [];
        this.remainingBombs = this.actualLevel.bombs;
        this.seconds = 0;
        this.initGame = false;
        this.stopTimer();
        this.smileyFace = "🙂";

				let rows = this.actualLevel.rows;
				let columns = this.actualLevel.columns;
				let totalCells = rows * columns;
				let indexes = [];

				this.remainingCells = totalCells - this.actualLevel.bombs

        for (let i = 0; i < totalCells; i++) {

				  let cell = {
				    row: Math.floor(i / columns) + 1,
						column: (i % columns) + 1,
						value: '',
						neighbours: [],
						color: '',
						initial: true,
            flag: false,
					};
					this.cells.push(cell);
					indexes.push(i)
				}

        let positionCheck = [];

        for (let i = 0; i < this.actualLevel.bombs; i ++) {

          let position = Math.floor(Math.random() * indexes.length - 1);

					while (position === -1 || positionCheck.includes(position)) {
            position = Math.floor(Math.random() * indexes.length - 1);
					}

          positionCheck.push(position);

					this.cells[position].value = '💣';
					this.bombs.push(this.cells[position]);

					indexes.splice(position, 1);
				}

        for (let i = 0; i < totalCells; i++) {
					let cell = this.cells[i];

					if (cell.column === 1) {
					  if (cell.row === 1) {
              cell.neighbours.push(i + 1);
              cell.neighbours.push(i + columns);
              cell.neighbours.push(i + columns + 1);
            } else if (cell.row === rows) {
              cell.neighbours.push(i + 1);
              cell.neighbours.push(i - columns);
              cell.neighbours.push(i - columns + 1);
            } else {
              cell.neighbours.push(i + 1);
              cell.neighbours.push(i + columns);
              cell.neighbours.push(i + columns + 1);
              cell.neighbours.push(i - columns);
              cell.neighbours.push(i - columns + 1);
						}
					} else if (cell.column === columns) {
							if (cell.row === 1) {
								cell.neighbours.push(i - 1);
								cell.neighbours.push(i + columns);
								cell.neighbours.push(i + columns - 1);
							} else if (cell.row === rows) {
								cell.neighbours.push(i - 1);
								cell.neighbours.push(i - columns);
								cell.neighbours.push(i - columns - 1);
							} else {
								cell.neighbours.push(i - 1);
								cell.neighbours.push(i + columns);
								cell.neighbours.push(i + columns - 1);
								cell.neighbours.push(i - columns);
								cell.neighbours.push(i - columns - 1);
							}
					} else {
							if (cell.row === 1) {
								cell.neighbours.push(i - 1);
								cell.neighbours.push(i + 1);
								cell.neighbours.push(i + columns - 1);
								cell.neighbours.push(i + columns);
								cell.neighbours.push(i + columns + 1);
							} else if (cell.row === rows) {
									cell.neighbours.push(i - 1);
									cell.neighbours.push(i + 1);
									cell.neighbours.push(i - columns - 1);
									cell.neighbours.push(i - columns);
									cell.neighbours.push(i - columns + 1);
							} else {
									cell.neighbours.push(i - 1);
									cell.neighbours.push(i + 1);
									cell.neighbours.push(i + columns - 1);
									cell.neighbours.push(i + columns);
									cell.neighbours.push(i + columns + 1);
									cell.neighbours.push(i - columns - 1);
									cell.neighbours.push(i - columns);
									cell.neighbours.push(i - columns + 1);
							}
					}

					if (cell.value !== "💣") {
					  let bombs = cell.neighbours.filter(x => this.cells[x].value === "💣").length;

						if (bombs > 0) {
						  cell.value = bombs;
							cell.color = 'number ' + this.colors[bombs]
						}
					}

					this.inGame = true;
				}
			},
			selectLevel(level) {
        if (this.actualLevel.level === level) { return }

        if (level === 1) { this.actualLevel = this.levelEasy }
        else if (level === 2) { this.actualLevel = this.levelIntermediate }
        else { this.actualLevel = this.levelHard }

        this.initLevel()
			},
			discoverCell(cell) {
				if (this.inGame && cell.initial && !cell.flag) {

				  cell.initial = false;

				  if (!this.initGame) {
				    this.timer = setInterval(() => {
				      this.seconds++
						}, 1000)
					}

				  this.initGame = true;

				  if (cell.value === '💣') {
				    this.gameOver(cell)
					} else {
				    this.remainingCells--;

						if (this.remainingCells <= 0) {
							this.win();
						} else if (cell.value === '') {
              cell.neighbours.forEach(x => {
                this.discoverCell(this.cells[x])
              })
            }
					}
				}
			},
			flagBomb(cell) {
        if (this.inGame) {
          cell.flag = !cell.flag;
          if (this.remainingBombs > 0) {
						// eslint-disable-next-line no-mixed-spaces-and-tabs
          	this.remainingBombs += cell.flag ? -1 : 1;
					}
				}
			},
			stopTimer() {
        if (this.timer) {
          clearInterval(this.timer)
				}
			},
			gameOver(cell) {
        this.inGame = false;
        this.stopTimer();

				this.bombs.forEach(bomb => {
				  if (!bomb.flag) {
				    bomb.initial = false;
					}
				});

				let flags = this.cells.filter(c => c.flag);

				flags.forEach(x => {
				  if (x.value !== '💣') {
				    x.flag = false;
						x.value = '❌';
						x.initial = false;
					}
				});

				cell.value = '💥';
				this.smileyFace = '🙁'
			},
			win() {
        this.inGame = false;
        this.stopTimer();

        this.bombs.forEach(bomb => {
          bomb.flag = true
				});

				this.remainingBombs = 0;
				this.smileyFace = "😎";
			}
		}
  }
</script>

<style>

	.board {
		display: grid;
		justify-content: center;
		background-color: #bdbdbd;
		padding: 10px;
		user-select: none;
	}

	.levels {
		display: grid;
		grid-auto-flow: column;
		padding: 5px;
		grid-gap: 10px;
		justify-content: center;
		align-items: center;
		margin-bottom: 1em;
	}

	.level {
		width: 60px;
		text-align: center;
		color: #5c5c5c;
		vertical-align: middle;
		cursor: pointer;
	}

	.level-selected {
		color: #ffffff;
		background-color: #2076cc;
		border-style: solid;
		border-width: 2px;
		border-radius: 10px;
		cursor: default;
		padding: 0 10px;
	}

	.panel {
		display: grid;
		grid-auto-flow: column;
		font-size: 30px;
		margin-top: 10px;
		padding: 10px;
		border-top-color: #818181;
		border-left-color: #818181;
		border-bottom-color: #ffffff;
		border-right-color: #ffffff;
		border-style: solid;
		border-width: 2px;
	}

	.marker {
		background-color: black;
		color: red;
		height: 40px;
		padding: 0 10px;
	}

	.remaining-mines {
		justify-self: baseline;
	}

	.smiley-face {
		display: grid;
		justify-content: center;
		align-items: center;
		justify-self: center;
		width: 40px;
		height: 36px;
		border-top-color: #ffffff;
		border-left-color: #ffffff;
		border-bottom-color: #818181;
		border-right-color: #818181;
		border-style: solid;
		border-width: 2px;
		cursor: pointer;
	}

	.timer {
		justify-self: end;
	}

	.grid {
		display: grid;
		background-color: #7b7b7b;
		padding: 2px;
		margin-top: 10px;
		border: 3px solid #878787;
	}

	.number {
		font-weight: bold;
	}

	.one {
		color: blue;
	}

	.two {
		color: green;
	}

	.three {
		color: red;
	}

	.four {
		color: darkblue;
	}

	.five {
		color: brown;
	}

	.six {
		color: darkcyan;
	}

	.seven {
		color: #9e3c9e;
	}

	.eight {
		color: #ffc400;
	}

</style>